html, body {
	min-height: 100%;
	margin: 0;
}

.content-column {
	border: 2px solid black;
}

.row {
	margin: 0;
}

/* remove default link stylings */
a:link {
    color: #e1ffff;
    text-decoration: none;
}

a:visited {
    color: #e1ffff;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none; 
}

/* Output Div */
#output-column {
	height: 100vh;
  	overflow: hidden;
  	overflow-y: scroll;
}