html, body {
	min-height: 100%;
	margin: 0;
}

.main-wrapper {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 6fr;
}

.main-content {
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main-content .content-column {
	padding: 10px;
}

.content-column {
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 100vh;
	flex-direction: row;
}

.form-group {
	flex-direction: column;	
}


.form-group-row {
	flex-direction: row;
	display: grid;
	margin: 0;
	grid-template-columns: 1fr 2fr;
}

.button-row {
	text-align: center;
}

button {
	margin-top: 5px;	
}

/* remove default link stylings */
a:link {
    color: #e1ffff;
    text-decoration: none;
}

a:visited {
    color: #e1ffff;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
    border-left: 0px; 
}

/* Output Div */
.output-column {
	height: 100vh;
  	overflow: hidden;
  	overflow-y: auto;
}