/* main container */
#stat-block {
  width: 440px;
  display: block;
  color: #7A200D;
  margin: auto;
} 

.bar {
  height: 5px;
  background: #E69A28;
  border: 1px solid #000;
  position: relative;
  z-index: 1;
}

#content-wrap {
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial,
                sans-serif;
  font-size: 13px;
  display: block;
  background: #FDF1DC;
  padding: 0.6em;
  border: 1px #DDD solid;
  box-shadow: 0 0 1.5em #867453;
  /* We don't want the box-shadow in front of the bar divs. */
  position: relative;
  z-index: 0;
  /* Leaving room for the two bars to protrude outwards */
  margin-left: 2px;
  margin-right: 2px;
}

#content-wrap > h3 {
  border-bottom: 1px solid #7A200D;
  color: #7A200D;
  font-size: 18px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
}

/* Last block shouldn't have margin, too much white space. */
#content-wrap property-block:last-child /deep/ p {
  margin-bottom: 0;
}

/* Creature header */
.creature-heading > h1 {
  font-family: 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman,
               'Goudy Old Style', Garamond, 'Hoefler Text',
               'Bitstream Charter', Georgia, serif;
  color: #7A200D;
  font-weight: 700;
  margin-top: -6px;
  margin-bottom: 2px;
  font-size: 25px;
  letter-spacing: 2px;
  font-variant: small-caps;
}

.creature-heading > h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  margin: 0;
  color: black;
}

/* Tapered line SVG */
.tapered-line {
  fill: #922610;
  /* Stroke is necessary for good antialiasing in Chrome. */
  stroke: #922610;
  margin-top: 0.7em;
  margin-bottom: 0.35em;
  height: 5px;
  width: 98%;
}

.property-line {
  margin-top: 3px;
  line-height: 1.4;
}

.property-line > * {
  display: inline;
}

.property-line > p {
  margin-left: 0.4em;
}

div.property-line {
  /* Indenting everything EXCEPT the first line */
  text-indent: -1em;
  margin-left: 1em;
}

/* Ability Scores */
table {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
}

th, td {
  width: 50px;
  text-align: center;
}

/* Property Blocks */
.property-block {
  margin-top: 3px;
}


.property-block > h4 {
  display: inline;
  font-weight: bold;
  font-style: italic;
  color: black;
}

.property-block > p {
  display: inline;
  color: black;
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.9em;
}
